body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #83f28f; /* Changed Background Color */
}

header {
  background-color: #008631; /* Changed Header Color */
  color: white;
  text-align: center;
  padding: 20px;
}

section {
  padding: 20px;
  text-align: center;
}
